* {
    font-family: 'Roboto', sans-serif;
  }

.panel {
    padding: 10px;
    margin: 10px;
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

button.red  {
    background-color: #af4c4c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}